<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chae.SimpleBoard.Reply.ReplyMapper">
	<resultMap type="com.chae.SimpleBoard.Reply.Reply" id="reply">
		<result property="reply_num" column="reply_num" />
		<result property="board_num" column="board_num" />
		<result property="writer_id" column="writer_id" />
		<result property="reply_content" column="reply_content" />
		<result property="reply_date" column="reply_date" />
		<result property="parent_reply_num" column="parent_reply_num" />	
	</resultMap>
	
	<insert id="insert" parameterType="com.chae.SimpleBoard.Reply.Reply">
		insert into reply values(reply_seq.nextval, #{board_num}, #{writer_id}, #{reply_content}, sysdate, ${parent_reply_num})
	</insert>
	
	<select id="select" parameterType="int" resultType="com.chae.SimpleBoard.Reply.Reply">
		select * from reply where reply_num = #{reply_num}
	</select>
	
	<select id="selectListByBoard_num" parameterType="int" resultMap="reply">
		select * from reply where board_num = #{board_num} and parent_reply_num =-1 order by reply_num
	</select>
	
	<select id="selectListByParent_reply_num" parameterType="int" resultMap="reply">
		select * from reply where parent_reply_num = #{parent_reply_num} order by reply_num
	</select>
	
	<update id="update" parameterType="com.chae.SimpleBoard.Reply.Reply" >
		update reply set reply_content = #{reply_content}, reply_date = sysdate where reply_num = #{reply_num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from reply where reply_num = #{reply_num}
	</delete>
	
	<select id="selectSeqCurrval" resultType="int">
		select reply_seq.currval from dual
	</select>
	
</mapper>
